	img {
    width: 100%;
    height: auto;
	}
  .cabecalho{
    width:100%;
		background-color:#746e8c;
 		font-size: 8vw;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#b21300;
    font-style:italic;
    padding:0%;
    margin:0%;
    
  }
  .menu{
    
		width:100%;
		background-color:#000D87;
 		font-size: 8vw;
    text-align:center;

  }
  .menu ul{
    margin:0%;
    padding:0%;
  }
  .menu ul li {

    display: block;
    }

		.menu ul li a {
      
      display: block;
  		color: #CC0;
  		text-decoration: none;
		}

		.menu ul li a:hover {
			background: #C30;
  		color: #FFF;
    }
	.corpo{
		width:100%;
		margin:0%;
		padding:0%
		font-family: sans-serif;
		font-size:8vw;
		background-color:#e3e1ed;
		word-break: break-word;
	}
	.corpo h1{font-size:11vw;text-align:center;margin:0%;}
	.corpo h2{font-size:10vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo h3{font-size:9vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo p{font-size:6vw;margin-top:0%;text-indent:8vw;line-height: 1.5em;
    text-align: justify;}
	
	.lateral{
		background-color:#bac3ff;
		width:100%;
		margin:0%;
		padding:0%;
		color:#383835;
	}
	.lateral p {
		line-height: 1.5em;
    text-align: justify;
	}
	.rodape{
		background-color:#746e8c;
		text-align:center;
	}
	

@media only screen and (min-width:600px){
	img {
    width: 100%;
    height: auto;
	}
  .cabecalho{
    width:100%;
		background-color:#746e8c;
 		font-size: 8vw;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#b21300;
    font-style:italic;
    padding:0%;
    margin:0%;
    
  }
  .menu{
    
		width:30%;
		background-color:#000D87;
 		font-size: 5vw;
    text-align:center;
		float:left;

  }
  .menu ul{
    margin:0%;
    padding:0%;
  }
  .menu ul li {

    display: block;
    }

		.menu ul li a {
      
      display: block;
  		color: #CC0;
  		text-decoration: none;
		}

		.menu ul li a:hover {
			background: #C30;
  		color: #FFF;
    }
	.corpo{
		width:70%;
		float:right;
		margin:0%;
		padding:0%
		font-family: sans-serif;
		font-size:8vw;
		background-color:#e3e1ed;
		word-break: break-word;
	}
	.corpo h1{font-size:7vw;text-align:center;margin:0%;padding:1vw;}
	.corpo h2{font-size:6vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo h3{font-size:5vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo p{font-size:3vw;margin-top:0%;text-indent:8vw;padding:1vw;line-height: 1.5em;
    text-align: justify;}
	
	.lateral{
		background-color:#bac3ff;
		width:100%;
		float:right;
		margin:0%;
		padding:0%;
		color:#383835;
	}
	.lateral p{
		padding:1vw;line-height: 1.5em;
    text-align: justify;;
	}
	.lateral h3{
		padding:1vw;
	}
	.rodape{
		width:100%;
		float:right;
		background-color:#746e8c;
		text-align:center;
	}
	
}

@media only screen and (min-width:900px){
	img {
    width: 100%;
    height: auto;
	}
  .cabecalho{
    width:100%;
		background-color:#746e8c;
 		font-size: 8vw;
    text-align:center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:#b21300;
    font-style:italic;
    padding:0%;
    margin:0%;
    
  }
  .menu{
    
		width:15%;
		background-color:#000D87;
 		font-size: 3vw;
    text-align:center;
		float:left;

  }
  .menu ul{
    margin:0%;
    padding:0%;
  }
  .menu ul li {

    display: block;
    }

		.menu ul li a {
      
      display: block;
  		color: #CC0;
  		text-decoration: none;
		}

		.menu ul li a:hover {
			background: #C30;
  		color: #FFF;
    }
	.corpo{
		width:65%;
		float:left;
		margin:0%;
		padding:0%
		font-family: sans-serif;
		font-size:8vw;
		background-color:#e3e1ed;
		word-break: break-word;
	}
	.corpo h1{font-size:6vw;text-align:center;margin:0%;padding:1vw;}
	.corpo h2{font-size:5vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo h3{font-size:4vw;margin-top:1%;margin-bottom:1%;text-align:center;}
	.corpo p{font-size:2vw;margin-top:0%;text-indent:1vw;padding:1vw;line-height: 1.5em;
    text-align: justify;}
	
	.lateral{
		background-color:#bac3ff;
		width:20%;
		float:left;
		margin:0%;
		padding:0%;
		color:#383835;
	}
	.lateral p{
		padding:1vw;
		font-size:1.5vw;
		text-indent:2vw;
	}
	.lateral h3{
		padding:1vw;
		font-size:2vw;
	}
	.rodape{
		width:100%;
		float:right;
		background-color:#746e8c;
		text-align:center;
	}
	
}